<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.amunoz.tablegamers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppStyle">
        <activity android:name=".ui.event.EventFormActivity"></activity>
        <activity
            android:name=".ui.event.EventDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ad.FormAdActivity"
            android:parentActivityName=".NavigationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ad.AdDetailActivity"
            android:parentActivityName=".NavigationMenuActivity" />
        <activity
            android:name=".ui.profile.AvatarActivity"
            android:parentActivityName=".NavigationMenuActivity" />
        <activity
            android:name=".NavigationMenuActivity"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/AppStyle.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>